<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/NewStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-3.6.0.slim.min.js"></script>
    <link href="~/Content/Gallery.css" rel="stylesheet" />
    <link href="~/Content/NewStyle.css" rel="stylesheet" />
    <title>@ViewBag.NJTransit</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/NJTransitLogo.png"  width="400" height="400"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <nav style="color:blue">
                @Html.ActionLink("Home", "Home", "Home")
                @Html.ActionLink("Check Time Table", "TimeTable", "Home")
                @Html.ActionLink("About Us", "AboutUs", "Home")
                @Html.ActionLink("Contact Us", "Contact", "Home")
            </nav>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
